@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$light-cyan: rgb(206, 227, 233);
$neon-green: hsl(150, 97%, 46%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(210, 7%, 5%);
$dark-blue: hsl(240, 100%, 0%);

@mixin flexCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
        background: $dark-blue;
}

.Main {
        @include flexCenter;
        height: 100vh;

        input {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border-radius: 50px;
            outline: none;
        }

    .attribution {
        color: $light-cyan;
        text-align: center;
        font-size: 20px;
    }

    .season {
        display: flex;
        gap: 5em;
        margin-bottom: 20px;
    }

     p {
        color: $light-cyan;
        font-size: 1.5em;
    }
}

.Hero {
        width: 60%;
        height: 80%;
        border-radius: 10px;
        background: $dark-grayish-blue;
        @include flexCenter;

    .Hero-Heading {
        color: $neon-green;
        font-size: 1.5em;
    }

    p {
        color: $light-cyan;
        font-size: 17px;
    }

    h2 {
        width: 13em;
        font-size: 28px;
        text-align: center;  
        color: $light-cyan;
        line-height: 35px;
        padding-bottom: 10px;
        font-family: 'Manrope', sans-serif;
    }

    h1 {
      width: 13em;
      font-size: 28px;
      text-align: center;  
      color: $light-cyan;
      line-height: 35px;
      padding-bottom: 10px;
      font-family: 'Manrope', sans-serif;
    }

    button {
        cursor: pointer;
        border: none;
        padding: 10px;
        background: $neon-green;
        margin-top: 20px;
        border-radius: 30em;
    }

}

